*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-bar{
    background-color: red;
    top: 0;
    position: sticky;
    z-index: 9999;
}
.menu-bar .menu{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.menu-bar ul{
    list-style-type: none;
    margin-top: 20px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: gold;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 15px;
}
.main{
    margin: 60px;
}
.main .title{
    display: flex;
    justify-content: space-between;
}
.main .title p{
    font-size: 20px;
    margin-top: 10px;
    color: rgb(31, 33, 31);

    font-weight: bold;
}
.main .title span{
    padding: 10px;
    background-color: goldenrod;
    color: greenyellow;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.main .title span i{
    color: lawngreen;
}
.main figure {
    width: 100%;
    box-shadow: 4px 4px 6px rgb(140, 140, 140);
}
.main figure .img{
   width: 100%;
}
.main figure .img img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.main figure .txt{
    width: 100%;
    background-color: aqua;
    padding: 5px;
}
.main figure .txt .big{
    width: 100%;
    font-size: 18px;
    font-family: 'Hanuman';
    font-weight:bold ;
    color: orange;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.main figure .txt .date{
    font-weight: 500;
    font-size: 18px;
    color: blue;
}
.main figure .txt .date i{
    padding: 5px;
    font-size: 18px;
}
.main figure .txt .small{
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
footer{
    width: 100%;
    background-color: orangered;
    padding: 15px;
}
footer h3{
    color: orange;
    font-size: 20px;
    font-weight: 600;
}
footer span{
    font-size: 15px;
    color: rgb(21, 21, 71);
    font-weight: bold;
    font-family: 'Hanuman';
}
footer span i{
    font-size: 20px;
}
/* Medai repornsive */
/* laptop */
@media (max-width: 1399.98px) {

}
/* ipad pro */
@media (max-width: 1199.98px) {
    .col-3{
        flex: 0 0 auto;
        width: 33.3333%;
    }
}
/* ipad */
@media (max-width: 991.98px) {
    .col-3{
        flex: 0 0 auto;
        width: 50%;
    }
}
/* Mobile phone */
@media (max-width: 767.98px) {
    .menu-bar ul li a {
        font-size: 7px;
        font-weight: bold;
        padding: 4px 5px;
    }
    span img, svg {
        vertical-align: middle;
        width: 60%;
        height: 80%;
        margin-top: 10px;
    }
    img, svg {
        vertical-align: middle;
        width: 20%;
        height: 20%;
        margin-top: 13px;
    }
    .main .title p {
        font-size: 15px;
    }
    .main .title span {
        font-size: 15px;
    }
    .col-4 {
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
        margin-left: 50px;
    }
    .col-3{
        flex: 0 0 auto;
        width: 100%;
    }
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
}
/* Mobile phone */
@media (max-width: 575.98px) {
    .menu-bar ul li a {
        font-size: 7px;
        font-weight: bold;
        padding: 4px 5px;
    }
    span img, svg {
        vertical-align: middle;
        width: 60%;
        height: 80%;
        margin-top: 10px;
    }
    img, svg {
        vertical-align: middle;
        width: 20%;
        height: 20%;
        margin-top: 13px;
    }
    .main .title p {
        font-size: 15px;
    }
    .main .title span {
        font-size: 15px;
    }
    .col-4 {
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
        margin-left: 50px;
    }
    .col-3{
        flex: 0 0 auto;
        width: 100%;
    }
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
}
